* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* .hovered {
  background-color: black;
} */

.rowBlock {
  display: flex;
  flex: 1;
}

.block {
  flex: 1;
  border: 1px solid black;
  /* background-color: hsl(0, 0%, 100%); */
}

button {
  width: 100%;
  height: 50px;
}